/* style.css */

@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,700,300);

/* *********************************************************************************************************************
 * Main elements
 */
* {
    box-sizing: border-box;
}

body {
    font-size: 1rem;
    background: rgba(237,239,240,1.0);
    font-family: 'Source Sans Pro', sans-serif;
    color: rgba(75,86,88,1.0);
}

header {
    padding: 2% 5% 0% 5%;
}

h1{
    color: rgba(56,64,71,1.0);
}

img {
    max-width: 100%;
}

.card {
    display: inline-block;
    margin: 5% 5%;
    padding: 3% 5%;
    background: rgba(255,255,255,1.0);
    box-shadow: 0 2px 0 rgba(0,0,0,0.07);
    border-radius: 4px;
}

/* *********************************************************************************************************************
 * Image styling
 */
.user_img {
    display: block;
    margin: 0 auto;
    border-radius: 50%;
}
.badge_gallery_img {
    width: 7.5%;
}

.recommended_badge_img {
    float: right;
    width:15%;
}

/* *********************************************************************************************************************
 * For Debugging Only
 */
.col2,.col4,.col8,.col10,.col12 {
    background: rgba(200,200,200,1.0);
}
.card_header_row,
.badge_gallery_row,
.badge_recommendation_row {
    border-top: 10px solid rgba(100,100,100,1.0);
}

/* *********************************************************************************************************************
 * Large screens
 */
@media all and (min-width: 1024px) {

}
/* *********************************************************************************************************************
 * Small devices
 */
@media all and (max-width: 768px) {

    .recommended_badge_img {
        float: none;
        width:10%;
    }

}
